<!-- creation date : 2019/2/20 -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>🔥🔥🔥 Tree Burning 🔥🔥🔥</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation|distressed-wood">
        <link rel="stylesheet" href="./tree.css">
    </head>
    <body>
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw&url=" class="twitter-share-button" data-show-count="false">Tweet</a>
        <div>
            <p>使ったもの</p>
            <a href='https://developers.google.com/fonts/docs/getting_started'>Google Fonts</a><br>
            <a href='https://jp.vuejs.org/'>Vue.js</a>
            <p>インスピレーション</p>
            <a href='https://atcoder.jp/contests/agc030/tasks/agc030_b'>AGC30 B - Tree Burning</a>
            <p>説明</p>
            木をクリックすると燃えます。最新のChromeだと動くはずです。それ以外は知りません
        </div>
        <div id='app'>
            <div>
                <button @click='GrowTree'>木を生やす</button>
                <button @click='Buildhouse'>家を建てる</button>
                <button @click='GenerateCow'>牛を生成する</button>
                もの : {{ sum }} 
                燃えているもの : {{ BurningCount }} 
            </div>
            <div class='root'>
                <tree @increment='IncrementBurningCount' v-for='tree in trees' :key='tree.id'></tree>
                <house @increment='IncrementBurningCount' v-for='house in houses' :key='house.id'></house>
                <cow @increment='IncrementBurningCount' v-for='cow in cows' :key='cow.id'></cow>
            </div>
        </div>
        <script src='https://cdn.jsdelivr.net/npm/vue@2.6.5/dist/vue.js'></script>
        <script src='https://unpkg.com/vue-router@3.0.2/dist/vue-router.js'></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src='./tree.js'></script>
    </body>
</html>