.v-enter-active, .v-leave-active {
  transition: opacity 1s;
}

.v-enter, .v-leave-to {
  opacity: 0;
}

#main p{
  position: absolute;
  left: 30%;
  top: 30%;
  font-family: serif;
  font-size: 10ex; 
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  background: linear-gradient(#1c4fa1,#1c5cbe 40%,#429df6 70%,#b1eaff);
  background: -webkit-linar-gradient(#1c4fa1,#1c5cbe 40%,#429df6 70%,#b1eaff);
  background: -moz-linear-gradient(#1c4fa1,#1c5cbe 40%,#429df6 70%,#b1eaff);
  background: -o-linear-gradient(#1c4fa1,#1c5cbe 40%,#429df6 70%,#b1eaff);
  background: -ms-linear-gradient(#1c4fa1,#1c5cbe 40%,#429df6 70%,#b1eaff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}